*{
    margin: 0;
}
.container1 {
    position: relative;
}

.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 15%
}

.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #007bff;
}

.menu li a {
    display: block;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #0056b3;
}

.menu.show {
    display: block;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: white;
}
body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      background: #f0f8ff;
      color: #333;
    }

    .header {
      background: url('https://imagescdn.pystravel.vn/uploads/posts/avatar/1590739634.jpg') center/cover no-repeat;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
      font-size: 20px;
    }
    .header h1 {
      font-size: 3em;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 0.5em 0.5em;
      border-radius: 15px;
    }
    .tour-section {
      padding: 40px 60px;
      background-color: white;
      margin-bottom: 20px;
    }

    .tour-title {
      font-size: 28px;
      color: #2b5e4d;
      margin-bottom: 20px;
    }

    .option {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 8px;
    }

    .option-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .price {
      color: #e74c3c;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .info {
      margin-bottom: 10px;
      font-size: 15px;
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 15px;
    }

    .image-grid img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 6px;
    }
.cta {
  text-align: center;
  margin: 3em 0;
  justify-self: center;
}

.cta a {
  background: #1e90ff;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.cta a:hover {
  background: #0a75d7;
}